
.education-entry {
  background-color: #161719;
  color: #fff;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h2,
h3,
h4,

.work-entry {
}

body {
  margin-right     : 20px;
  margin-left      : 20px;

  background-color : #161719;
}

h6 {
  margin      : 0;
  padding     : 0;

  font-family : "Roboto", sans-serif;
  font-size   : 18px;
}

.clear-fix {
  overflow : auto;
}

.project-entry {
  padding : 0 5%;
  background-color: #000;
}

h1 {
  display       : inline;

  padding-right : 30px;
  background-color: #000;
  font-size     : 50px;
  color         : #fff;
  line-height   : 48px;
}

h2 {
  padding     : 10px;
  background-color: #161719;
  font-size   : 40px;
  font-weight : bold;
  color       : #fff;
  line-height : 29px;
}

h3 {
  font-size   : 40px;
  font-style  : italic;
  color       : #fff;
  line-height : 22px;
}

h4 {
  font-size   : 14px;
  font-weight : bold;
  color       : #4a4a4a;
  line-height : 17px;
}

h5 {
  padding : 10px 5%;
}

.date-text {
  float       : left;
  background-color: #161719;
  font-size   : 20px;
  font-style  : bold;
  color       : #fff;
  line-height : 16px;
  padding-right: 20px;
}

.date-text1 {
  float       : left;
  background-color: #000;
  font-size   : 20px;
  font-style  : bold;
  color       : #fff;
  line-height : 16px;
}

.location-text {
  float       : right;

  font-size   : 20px;
  font-style  : italic;
  color       : #fff;
  line-height : 16px;
}

p {
  font-size   : 17px;
  color       : #00f;
  line-height : 21px;
  background-color: #161719;
}

p1 {
  font-size   : 17px;
  color       : #00f;
  line-height : 21px;
  background-color: #000;
}

a {
  display         : block;
  background-color: #000;
  margin-top      : 10px;

  font-size       : 28px;
  color           : #f00;
  text-decoration : none;
}

b {
  display         : block;
  background-color: #161719;
  margin-top      : 10px;
  font-size       :  28px;
  color           : #f00;
  text-decoration : none;
}

c {
  display         : block;
  background-color: #161719;
  margin-top      : 10px;
  font-size       :  20px;
  color           : #00f;
  text-decoration : none;
}

.welcome-message {
  font-size   : 22px;
  color       : #00f;
  line-height : 28px;
}

#skills-h3 {
  display : none;
  color   : #fff;
  background-color: #000;
}

.orange {
  background-color : #f5ae23;
}

.orange-text {
  font-size : 20px;
  color     : #fff;
  background-color: #000;
}

.white-text {
  font-size   : 20px;
  font-weight : bold;
  color       : #f00;
  background-color: #000;
}

.gray {
  clear            : both;
  padding-bottom   : 10px;
  background-color: #161719;
}

.dark-gray {
  background-color : #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color : #000;
}

.flex-box {
  display         : -webkit-flex;
  display         : flex;
  background-color: #000;
  padding         : 10px;

  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.flex-column {
  display        : flex;
  background-color: #000;
  padding        : 10px;

  flex-direction : column;
  flex-wrap      : nowrap;
}

.center-content {
  padding : 2.5% 5%;
}

ul {
  list-style-type : none;
}

.biopic {
  display : none;
  float   : left;

  width   : 200px;
  padding : 10px;
}

img {
  padding : 10px;
}

span {
  padding   : 5px;

  font-size : 25px;
  color     : #00f;
}

#lets-connect {
  text-align : center;
}

/* Media queries to handle various device widths */
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top : 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width : 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top : 10%;
  }

  .biopic {
    width : 150px;
  }

  .welcome-message {
    display : none;
  }
}

#map {
  display : block;

  height  : 100%;
  margin  : 0 5%;
}

#mapDiv {
  height         : 400px;
  width          : 100%;
  padding-bottom : 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display : block;
  }
}